---
git:
  depth: 1
language: node_js
node_js:
- "stable"
env:
  global:
    - COVERAGE=false
matrix:
  include:
    - node_js: "stable"
      env: COVERAGE=true
before_install:
  - "[ $COVERAGE == false ] || npm install codecov.io"
after_script:
  - "[ $COVERAGE == false ] || npm run coverage"
  - "[ $COVERAGE == false ] || cat ./coverage/lcov.info | ./node_modules/codecov.io/bin/codecov.io.js && rm -rf ./coverage"
